* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: rgb(8, 44, 121);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: fixed;
  border-right: 10px solid white;
}
.section {
  overflow-x: hidden;
  background-color: rgb(8, 44, 121);
}
